html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    flex: 1;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.navigation {
    padding-top: 15px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.navigation a:hover {
    text-decoration: underline;
    color: #dad6d6;
}

.photo img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}





nav {
    display: flex;
    
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-size: 30px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}







section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

h3 {
    color: #555;
}

p {
    color: #777;
}

.portfolio-item,
.project,
.experience {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}
section #contact{
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2c679b;
}

h3 {
    color: #007bff;
}

a {
    color: #272829;
    text-decoration: none;
}

p {
    margin: 0;
}

a:hover {
    text-decoration: underline;
}
